.App{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h1 {
  color: #61dafb;
}
.profile_info{
  margin: 10px;
  
  }
  .profile_info label{
    font-size: 14px;
    color: #323234;
  }
  .profile_info label, .profile_info strong{
    display: block;
  }